/* Fuentes y colores */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Monomaniac One', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    color: #333;
}

.titulo {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos de la cuadrícula */
.contenedores {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* gap: 15px; */
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.links {
    background-color: steelblue;
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    font-size: 0.9rem;
    text-align: center;
}

.links:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background-color: #9b1212;
}
